<div class="container wrapper fadeInDown">
    <div class="row">
        <form [formGroup] = "taskForm" (ngSubmit) = "saveTask(taskForm.value)" class="col-md-9 go-right">
        <!-- <form class="col-md-9 go-right"> -->
            <h2>Manage Task</h2>
			<div class="form-group">
                <input id="title" name="title" type="text" class="form-control" formControlName="title" (change)="validateTitle($any($event.target).value)">
                <label for="title">Title</label>
            </div>
            <div class="alert alert-danger" *ngIf="emptyTitle">
                <p>Title is empty, you must include a title.</p>
            </div>
            <div class="form-group">
                <input id="user" name="user" type="text" class="form-control" formControlName="username" (change)="validateUser($any($event.target).value)">
                <label for="user">Responsible User</label>
            </div>
                <div class="alert alert-danger" *ngIf="userNotFound">
                    <p>User not found. Please input a valid user.</p>
                </div>
                <div class="alert alert-warning" *ngIf="emptyUsername">
                    <p>Username is empty, the user with less amount of tasks will be assigned.</p>
                </div>
            <div class="form-group">
                <select id="state" name="state" type="text" class="form-control" formControlName="state" (change)="validateState($any($event.target).value)">
                    <option [ngValue]="state" *ngFor="let state of taskStates">{{state}}</option>
                </select>
                <!-- <label for="state">Task state</label> -->
            </div>
            <div class="alert alert-warning" *ngIf="emptyState">
                <p>You have not selected a state, setting "New Task" by default</p>
            </div>
            <div class="form-group">
                <textarea id="description" name="description" class="form-control" formControlName="description" (change)="validateDescription($any($event.target).value)"></textarea>
                <label for="description">Description</label>
            </div>
            <div class="alert alert-warning" *ngIf="emptyDescription">
                <p>You have not included a description for the task.</p>
            </div>
            <div>
                <button type="button" class="btn btn-secondary" (click)="return()">Return</button>
                <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Save</button>
            </div>
		</form>
	</div>
</div>