<nav class="main-navigation">
    <div class="navbar-header animated fadeInUp">
        <a class="navbar-brand" href="#">TO-DO LIST</a>
    </div>
    <ul class="nav-list" *ngIf="checkLocalStorage()">
        <li class="nav-list-item">
            <a (click)="toDashboard()" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-list-item">
            <a (click)="toAudit()" class="nav-link">Audit</a>
        </li>
        <li class="nav-list-item">
            <a (click)="exit()" class="nav-link" >Exit</a>
        </li>
    </ul>

</nav>